@font-face {
    font-family: defaultFamily;
    src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}

@font-face {
   font-family: Lari;
   src: url(../fonts/Lari.ttf);
}

#wrapper {
	font: normal 16px arial,verdana;
	position: fixed;
	height: 100%;
	width: 100%;
	font-family: defaultFamily;
}

@button_collor: #c0392b;

#start {
	position: inherit;
	width: inherit;
	height: inherit;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	z-index: 99;

	//display: none;
}
#startButton {
	.button;
	position: relative;
	left: 51.5%;
	top: 55%;

	transform: translate(-50%);
	margin-top: 170px;
}
#startButton:hover {
	.button-hover;
}

.header {
	position: absolute;
	width: 100%;
	height: 170px;
	background-image: url('../img/header.jpg');
	background-size: cover;
}

#steps {
	display: none;
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	width: 100%;
	

	.directions {
		
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;

		input[type=button] {
			.button;
			font-size: 14px;
			padding: 8px 18px 3px;
			&:hover {
				.button-hover;
			}
		}
	}
}


.step {
	display: none;
	height: inherit;
	text-align: center;
	
	overflow-y: auto;
	
	.stepNandName;
	span {
		display: block;
		margin-bottom: 5px;
		&.three {
			margin-top: 5px;
			margin-bottom: 2px;
		}
	}
	label {
		input[type=text], input[type=number], input[type=tel] {
			background-color: rgba(0, 0, 0, .1);
			border: 0;
			outline: none;
			padding: 5px 8px;
			color: rgba(0, 0, 0, .7);
			font-family: defaultFamily;
			font-size: 18px;
			width: 200px;
		}
		textarea {
			background-color: rgba(0, 0, 0, .1);
			border: 0;
			outline: none;
			padding: 5px 8px;
			color: rgba(0, 0, 0, .7);
			font-family: defaultFamily;
			font-size: 18px;
			width: 200px;
			resize: none;
			min-width: 300px;
			min-height: 100px;
		}
	}

	&[visible] {
		display: block;
	}
}

[step="3"] {
	height: 200px !important;
	max-width: 750px;
	margin: 0 auto;
}
.changeStep {display: none;}

.stepNandName {
	font-weight: bold;
	font-size: 20px;
	color: rgba(0, 0, 0, .6);
}
.button {
	border: 0;
    color: #FFF;
    background-color: @button_collor;
    padding: 12px 25px 6px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    font-family: defaultFamily;

	transition: all .2s ease;
	cursor: pointer;
	outline: none;
}
.button-hover {
	background-color: #A02518;
}
input.disabled {
	background: fade(@button_collor, 50%) !important;
}

.stepsNum {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: -40px;
	.stepNandName;
}

.members {
	width: 100px !important;
}

.foundersLBL {
	display: block;
	position: relative;
	& > .cont {
		display: inline-block;
	}
	& > .title {
		
	}
	& input {
		margin-left: 10px;	
	}
	& .add {
		position: absolute;
    margin-left: 42px;
    font-size: 23px;
    background-color: rgba(0,0,0,0.1);
    padding: 0 11px;
		cursor: pointer;
		margin-top: 10px;
	}
}

.lari {
	font-family: Lari;
	display: inline-block !important;
	font-size: 33px;
	vertical-align: sub;
}

.code {
	&.disabled {
		display: none;
	}
	> span {
		display: inline-block !important;
		margin-bottom: 0 !important;
		margin-top: 20px;
		font-size: 20px;
		vertical-align: text-bottom;
		font-weight: bold;
		&.repeat {
			font-size: 15px;
			vertical-align: baseline;
			cursor: pointer;
		}
	}
		
	> input {
		width: 77px !important;
		text-align: center;
		padding-top: 8px !important;
	}
}

#num-send {
	.button;
	font-size: 14px;
	padding: 6px 10px 3px;
	border-radius: 0;
	&:hover {
		.button-hover;
	}
}

.complete {
	display: none;
	text-align: center;
	& > .finished {
		display: block;
		color: #0DCC54;
		font-size: 24px;
	}
}

#home {
	.button;
	font-size: 14px;
	padding: 8px 18px 3px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	&:hover {
		.button-hover;
	}
}
