html { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
	font: normal 16px arial,verdana;

	display: none;
}

#steps {
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 20px;
	margin-top: 8%;
}

.step {
	display: none;

	&[visible] {
		display: block;
	}
}

.changeStep {display: none;}