// font import
@font-face {
    font-family: defaultFamily;
    src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}

@font-face {
   font-family: Lari;
   src: url(../fonts/Lari.ttf);
}


.loading {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 200px;
	border: 20px solid #FFF;
	border-radius: 100%;
	&.active {
		-webkit-animation:  animix .7s 1;
		-webkit-animation-fill-mode: forwards;
		-moz-animation:  animix .7s 1;
		-moz-animation-fill-mode: forwards;
		animation:  animix .7s 1;
		animation-fill-mode: forwards;
	}
}

// loading animation
@border_fill_color: fadeout(#35ad0d, 25%);
@keyframes animix {
	0% { 
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	25% { 
		border-top-color: @border_fill_color;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	50% { 
		border-top-color: @border_fill_color;
		border-right-color: @border_fill_color;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}
	75% { 
		border-top-color: @border_fill_color;
		border-right-color: @border_fill_color;
		border-bottom-color: @border_fill_color;
		border-left-color: transparent;
	}
	100% { 
		border-top-color: @border_fill_color;
		border-right-color: @border_fill_color;
		border-bottom-color: @border_fill_color;
		border-left-color: @border_fill_color;
	}
}


#wrapper {
	font: normal 16px arial,verdana;
	position: fixed;
	height: 100%;
	width: 100%;
	font-family: defaultFamily;
	visibility: hidden;
	opacity: 0;
	transition: all .7s ease;
	overflow: auto;
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
.welcome {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 99;
	overflow: hidden;

	transition: all .5s ease;
	&.hide_ {
		width: 0;
	}
	&.show {
		width: 0;
	}

	.startBTN {
		.button;
		position: absolute;
		left: 50%;
		bottom: 12%;
		transform: translate(-50%,-50%);
	}
}

.steps-cont {
	//transform: scale(0);
	overflow: hidden;
	transition: all .5s ease;

	width: 0;
	float: right;
	&.active {
		width: 100%;
		//transform: scale(1);
	}
	.header {
		width: 100%;
		height: 170px;
		background-image: url('../img/header.jpg');
		background-size: cover;
		background-position: center;
	}
	.step {
		position: absolute;
		visibility: hidden;
		left: 50%;
		transition: all .5s ease;
		left: 100%;
		transform: translate(-50%) scale(0);
		width: 100%;
		&.goLeft {
			visibility: hidden !important;
			left: 0% !important;
			transform: translate(-50%) scale(0) !important;
		}
		&.fromRight {
			left: 50%;
			visibility: visible;
			transform: translate(-50%) scale(1);
		}
		&.goRight {
			visibility: hidden !important;
			left: 100% !important;
			transform: translate(-50%) scale(0) !important;
		}
		&.fromLeft {
			left: 50% !important;
			visibility: visible !important;
			transform: translate(-50%) scale(1) !important;
		}

		&.active {
			left: 50%;
			visibility: visible;
			transform: translate(-50%) scale(1);
		}

		.year {
			margin-top: 10px;
			display: inline-block;
			cursor: pointer;
			.radio {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 2px solid rgba(0,0,0,.3);
				display: inline-block;
				vertical-align: bottom;
				margin-left: 20px;
				.child {
					border-radius: inherit;
					width: 10px;
					height: 10px;

					background-color: #FFF;
					margin: 3px auto 0;
					visibility: hidden;
					transition: all .5s ease;
				}
			}
			.lbl {
				display: inline-block;
			}
			&.active .radio {

			}
			&.active .radio .child {
				visibility: visible;
				background-color: rgba(0,0,0,.4);
			}
		}
	}
	color: rgba(0,0,0,0.5);
	.stepNum {
		margin: 50px auto 20px;
		font-size: 25px;
		text-align: center;
		#current {
			display: inline-block;
		}
		#maxStep {
			display: inline-block;
		}
	}
	.group {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
		font-size: 25px;
		.title {
			display: block;
		}
	}
	.directions {
		position: fixed;
		left: 50%;
		transform: translate(-50%);
		bottom: 0;
		margin-bottom: 5%;
		text-align: center;
		width: 100%;
		* {
			width: 150px;
			&.disabled {
				background: fade(#c0392b, 50%) !important;
			}
		}
	}
	#steps {
		margin: 0 auto;
		text-align: center;
	}
}


// founders
.founder-cont {
	//margin-top: 40px;
	max-height: 300px;
	position: relative;
	max-height: 180px;
    overflow: hidden;
    overflow-y: scroll;
	//border: 1px solid red;
	.founder {
		&:first-child .delete {
			display: none;
		}
		.add {
			background-color: #E6E6E6;
			width: 40px;
			font-size: 34px;
			padding-top: 4px;
			cursor: pointer;
		}
		.delete {

		}
	}
	.lbl-group {
		display: inline-block;
	}
	.input {
		&.name {
			width: 200px;
			text-align: center;
		}
		&.age {
			width: 100px;
			text-align: center;
		}
	}
}

// logo clone 
.logoFile {
	display: none !important;
}
.logoClone {
	width: 200px;
	height: 200px;
	border: 2px solid rgba(0, 0, 0, .1);
	border-radius: 10px;
	margin: 15px auto;
	position: relative;

	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;
	.lbl {
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);

		text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
        color: fadeout(#35ad0d, 25%);
	}
}



.input {
	display: block;
	margin: 10px auto;
	background-color: rgba(0, 0, 0, .1);
	border: 0;
	outline: none;
	padding: 10px 8px 0px;
	color: rgba(0, 0, 0, .7);
	font-family: defaultFamily;
	font-size: 28px;
	width: 300px;
}
textarea.input {
	display: block;
	height: 100px !important;
	font-size: 17px;
	resize: none;
}

.button {
	border: 0;
    color: #FFF;
    background-color: #c0392b;
    padding: 12px 25px 6px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
    font-family: defaultFamily;

	transition: all .2s ease;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: #A02518;
	}
}